<div class="container">
    <div class="row my-5 gap-5 justify-content-center">
        @for (tv of tvs; track tv.id) {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + tv.poster_path" height="300"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{tv.name}}</h5>
                    <p class="card-text">{{tv.overview}}</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="#" class="btn btn-primary">View details</a>
                        <span class="ms-auto">{{tv.vote_average}}⭐</span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>