{% extends "books/base.html" %} {% block content %} {% load static %}
<div class="row g-4">
  <div class="col-4">
    <div class="card h-100">
      {% if book.image %}
      <img
        src="{{ book.image.url }}"
        class="card-img-top card-img"
        alt="{{ book.name }}"
        height="200px"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <a
          class="card-subtitle mb-2 text-muted"
          href="{% url 'books:author-display' book.author.id %}"
          >{{ book.author }}</a
        >
        <p class="card-text">{{ book.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
