<div class="nav-wrapper">
    <img [src]="imgUrl" alt="" width="200" height="80">
    <div class="nav-items">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    </div>
</div>