.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  margin: 20px;
}

.nav-items a {
  margin-right: 20px;
  text-decoration: none;
}
