<h2>{{title()}}</h2>

@if (title() === 'All Products') {
<div class="categories-container">
    <span class="category-badge" [class.active]="selectedCategory === ''" (click)="filterProducts('')">
        All
    </span>
    @for (category of uniqueCategories; track $index) {
    <span class="category-badge" [class.active]="selectedCategory === category" (click)="filterProducts(category)">
        {{category}}
    </span>
    }
</div>
}

<div class="products">
    @for (product of filteredProducts; track product.id) {
    <app-product [product]="product"></app-product>
    }
</div>